<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Naive Article Layout</title>
</head>
<body>
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed dignissim nulla, non hendrerit sem. Ut sed hendrerit mauris. Donec venenatis urna in dui pellentesque molestie. Phasellus posuere eleifend dui, vel sagittis lectus pulvinar finibus. In quam ex, cursus sed urna fringilla, malesuada iaculis ante. Sed ut mauris eget tellus tempus imperdiet eu ac massa. Suspendisse faucibus nibh eget quam vestibulum rhoncus. Nam ut faucibus urna. In vitae tempor purus.
  </p>
  <p>
      Curabitur congue ultrices magna, nec dignissim velit imperdiet eget. Vivamus non dignissim felis. Vivamus eget consequat est. Ut malesuada varius metus vel accumsan. Maecenas eget sem sed tortor imperdiet ornare vel nec nibh. Maecenas nulla eros, facilisis sed est non, blandit imperdiet ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque ultrices vitae est vel feugiat. In vitae purus ultricies mauris gravida ornare at quis nisi.
    </p>
  </div>

</body>
</html>