body {
  padding-top: 70px;
}

div.circle{
  border-radius: 50%;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.profilePic {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

div.avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  vertical-align: middle;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  background-color: rgba(241, 241, 241, 0.6);
}

li {
  list-style-type: none;
  list-style-position: none;
  margin: 0;
  padding: 0;
}

li.annotation{
  margin-bottom: 15px;
}

blockquote.targetQ {
  font-size: 1em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: #333;
  /*color: grey;*/
  background-color: rgba(0, 149, 221, 0.15);
  margin-bottom: 0;
  padding: 10px;
  padding-left: 10px;
  padding-right: 40px;
  width: 100%;
  border-left: 2px solid rgba(0, 149, 221, 0.9);
  position: relative;
}

li .username {
  font-weight: bold;
}

div.media.card {
  margin-top: 10px;
  position: relative;
}

.card a:hover {
  cursor: pointer;
}

.docimage {
  object-fit: cover;
}

.large {
  width: 100%;
  height: 200px;
}

.small {
  width: 100px;
  height: 100px;
}

.media-left {
  vertical-align: bottom;
  float: left;
  padding-right: 7px;
}
/*
.media-body {
  display: inline;
}*/

div.media-body {
  width: 75%;
  height: 100%;
  padding-top: 5px;
  display: inline-block;
  position: absolute;
  /*padding-right: 5px;*/
}

.card a {
  text-decoration: none;
}

p.url {
  font-size: small;
  color: grey;
  font-style: italic;
}

ul#groups {
  margin-left: 15px;
}

li.object {
  position: relative;
}

li.annotation:hover .buttons {
  display: block;
  position: absolute;
  right: 10px;
}

li.object.doc {
  top: 10px;
}

li.object.annotation {
  bottom: 10px;
}

li.object .buttons {
  display: none;
}

div.closeDoc {
  display: none;
  z-index: 100;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 7px;
}

div.card {
  position: relative;
}

div.card:hover .closeDoc{
  display: block;
}

.closeDoc span.glyphicon-remove {
  color: white;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

div span.note-count {
  bottom: 5px;
  position: absolute;
}

div.heading {
  margin-left: 7px;
}

div.heading h4 {
  margin-top: 5px;
  margin-bottom: 1px;
}

div.privacy {
  margin-left: 7px;
  padding-bottom: 5px;
}

div.privacy .btn-group {
  display: inline-block;
}

div.userPic {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 10px;
}

div.userPic-small {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

div.UserInfo .userProfile {
  position: absolute;
  display: inline-block;
  margin: 0 auto;
}

div.userTitle {
  font-color: grey;
  font-size: 12px;
  font-style: italic;

}

/*body {
  padding-top: 20px;
}
*/
.heading {
  font-family: 'Indie Flower', cursive;
  font-size: 4em;
}

.section-header {
  font-family: 'Indie Flower', cursive;
  font-size: 2.5em;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.fa-heart {
  color: red;
}

#splash {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.jumbotron {
  margin-top: 3em;
  margin-bottom: 5em;
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 20px;
  margin-left: 5px;
  margin-right:5px;
}

.facebook {
  color: white;
  background-color: #3B5998;
}

.github {
  color: black;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
}

.row {
  margin-bottom: 6em;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

/* additional styling after rebase */
.createGroup {
  position: relative;
}

.closeModal {
  display: block;
  z-index: 100;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.createGroup-title h4{
  text-align:center;
}

.createGroup label {
  display: inline;
}

.createGroup-input>input {
  width: 100%;
  display:inline-block;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 2px;
  transition: border 0.3s;
  -webkit-transform: translate(0, 2%);
  -ms-transform: translate(0, 2%);
  transform: translate(0, 2%);
}

.createGroup-input>input:focus,
.createGroup-input>input.focus{
  border: solid 1px #40E0D0;
  outline: none;
}

button.create, button.invite {
  margin-top: 10px;
  float: right;
}

div.addUser {
  /*background-color: #eee;*/
  /*border-radius: 500px;*/
  position: relative;
}

div.addUser .remove {
  display: none;
  padding: 5px;
  position: absolute;
  text-decoration: none;
  color: black;
  top: 50%;
  transform: translate(0, -50%);
}

div.addUser:hover .remove{
  display: inline-block;
  /*position: absolute;*/
  /*right: 5px;*/
}

ul.nav-justified {
  margin-top: 10px;
}

.profile-extra li {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 0 5px;
}

.profile-extra li:hover {
  background-color: #eee;
}

.profile-extra li.active {
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

.UserInfo {
  /*position: absolute;*/
  display: inline-block;
  margin: 0 auto;
}

.docInfo {
  margin-bottom: 15px;
}

.userPageHeader {
  margin: 0 auto;
  /*position: relative;*/
}

h4.name {
  margin-bottom: 3px;
}

.follow-btn {
  display: block;
}

blockquote.bodyQ {
  font-size: 1em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: #333;
  /*color: grey;*/
  background-color: #fcf9eb;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 10px;
  padding-left: 10px;
  width: 100%;
  border-left: 2px solid #f4b737;;
  position: relative;
}

.target-btn {
  position: absolute;
  display: none;
  right: 7px;
  top: 50%;
  transform: translate(0, -50%);
}

.targetQ:hover .target-btn{
  display: block;  
}

.body-btn {
  position: absolute;
  display: none;
  right: 7px;
  top: 50%;
  transform: translate(0, -50%);
}

.bodyQ:hover .body-btn{
  display: block;
}

.edit-btn, .delete-btn {
  display: inline-block;
  margin-left: 3px;
  cursor: pointer;
}

.card.annotation {
  width: 90%;
  margin: 5px auto;
  padding: 20px;
}

.AnnotationList {
  padding-left: 0;
}

.inviteList, .search-results {
  padding-left: 0;
}

.listview {
  position: relative;
  margin-bottom: 15px;
}

.glyphicon-th-list {
  position: absolute;
  right: 20px;
}
